.card-container {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.30);
    border-radius: 10px;
    margin-right: 2px;
    margin-left: 2px;
    padding: 5px 5px 10px;
    margin-top: 10px;
}

.card-container:hover {
    /*box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.50);*/
}

.card-container-title-row {
    max-height: 30px;
}

.card-container-title-row-title {
    font-weight: bold;
    color: #204051;
    cursor: default;
}

.card-container-title-row-clickable {
    font-weight: bold;
    color: #204051;
    cursor: pointer;
    text-decoration: underline;
}

.card-container-body {
    border-radius: 10px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.30);
}