@import '../../../_utility/sizes';
@import '../../../_utility/colors';

.footer-container {
    .fixed-footer {
        background: $color-green-3;
        width: 100%;

        position: absolute;
        left: 0;
        bottom: 0;
        height: $footer-height;
        color: $white !important;
        list-style-type: none;

        .link-col {
            display: flex;
            align-items: center;
            justify-content: center;

            li a {
                cursor: pointer;
                font-size: 24px;
                color: $color-green-0 !important;
            }
        }
    }
}
