.fixed-footer {
    background: #204051;
    width: 100%;
    height: 200px;
    position: relative;
    left: 0;
    bottom: 0;

    .common-link {
        color: white !important;
    }
    h {
        color: blue;
    }
}
