@import '../../../_utility/sizes';
@import '../../../_utility/colors';

.footer-container {
    .fixed-footer {
        background: $color-green-3;
        width: 100%;

        position: absolute;
        left: 0;
        bottom: 0;
        height: $footer-height;
        z-index: $footer-z-index;
    }

    .align-left {
        float: left;
    }

    .footer-links {
        list-style-type: none;
    }

    .footer-links li {
        display: inline;
    }

    .footer-links li a {
        color: $white !important;
        font-size: 1.2em;
        margin: 11px 20px 0;
    }

    .common-link {
        color: $white !important;
    }

    h {
        color: $color-green-0;
    }

    .footer-links li {
        display: inline;
    }

    .footers-link a {
        font-size: 1.2em;
        margin: 11px 20px 0;
    }
}
