@import '../../../_utility/sizes';
@import '../../../_utility/colors';

.navigator {
    background-color: $color-green-3;
    height: $navigation-height !important;

    .nav-link {
        color: white !important;
    }

    .navbar-brand {
        padding: 0 !important;
    }

    .dots {
        cursor: pointer;
    }

    ul.header li {
        display: inline;
        list-style-type: none;
        margin: 0;
    }

    ul.header {
        background-color: $color-green-3;
    }

    ul.header li a {
        color: $white;
        font-weight: bold;
        padding: 20px;
        display: inline-block;
    }

    .content {
        background-color: $white;
    }

    .content h2 {
        padding: 0;
        margin: 0;
    }

    .content li {
        margin-bottom: 10px;
    }
}

#navigation {
    width: 100% !important;
    padding: 0 10px !important;
}
