.post-editor {
  margin: 1em 20%;

  .btn-success, .btn-success:disabled, .btn-success:hover {
    float: right;
    margin-top: 1em;
    background-color: #204051;
    color: #ffffff;
    border-color: #204051;

  }

}