.sendReply {
    .replyArea {
        margin: 1em 20%;
    }

    .sendMessage {
        margin: 1em -26%;
        background-color: #204051;
        color: #ffffff;
        border-color: #204051;
    }
}
