.about-us-page {
    margin: 20px;

    .pic {
        border-radius: 50% !important;
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .about-us {
        text-align: center;
    }
}
