.article-page {
    div#containerCSS {
      margin-left: 50px;
    }

    h3#article-detail {
      margin-top: 50px;
      padding-left: 20px;
    }


    div#infoCSS {
      width: 100%;
      margin: 20px;
      padding-top: 2%;
      padding-right: 1%;
      padding-bottom: 2%;
    }

    hr#grey {
      border-top: 3px double #8c8b8b;
    }

}