div#containerCSS {
    margin-left: 100px;
}

div#containerRate {
    margin-left: 100px;
}

h3#doctorfound {
    margin-top: 40px;
    padding-left: 152px;
}

img#starDr {
    width: 40%;
    padding-top: 20px;
}

img#star {
    width: 100%;
    padding-top: 20px;
}

div#jumboCSS {
    width: 80%;
    margin: 30px;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
}
div#jumboRate {
    width: 50%;
    margin: 30px;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
}

div#jumboDrRate {
    width: 50%;
    margin: 30px;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
}

img#profpic_rate {
    width: 60px;
    height: 60px;
}

img#profpic {
    width: 90px;
    height: 90px;
}

.docfil {
    margin-left: 150px;
    margin-top: 30px;
    background-color: #84a9dc;
    box-shadow: 0 14px 80px rgba(34, 60, 88, 0.2);
    width: 150px;
    padding-left: 10px;
}

.check-box {
    margin-top: 18px;
}
