.doctor-list {
    .doctor-filter {
        margin-left: 150px;
        margin-top: 30px;
        background-color: #84a9dc;
        box-shadow: 0 14px 80px rgba(34, 60, 88, 0.2);
        width: 150px;
        padding-left: 10px;
    }

    .check-box {
        margin-top: 18px;
    }

    .doctor-found {
        margin-top: 40px;
        padding-left: 152px;
    }

    .frame-container {
        margin-left: 100px;
    }

    .jumbo {
        width: 80%;
        margin: 30px;
        padding-top: 1%;
        padding-right: 1%;
        padding-bottom: 2%;
    }

    .picture-container {
        min-width: 100% !important;
        display: flex !important;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .star {
        width: 100%;
        padding-top: 20px;
    }

    .star-dr {
        width: 40%;
        padding-top: 20px;
    }

    .jumbo-dr-rate {
        width: 50%;
        margin: 30px;
        padding-top: 1%;
        padding-right: 1%;
        padding-bottom: 2%;
    }

    .container-rate {
        margin-left: 100px;
    }

    .jumbo-rate {
        width: 50%;
        margin: 30px;
        padding-top: 1%;
        padding-right: 1%;
        padding-bottom: 2%;
    }

    .prof-pic_rate {
        width: 60px;
        height: 60px;
    }
}
