
.homepage{
  padding-left: 25px;
  padding-right: 20px;
}
#picLoc {
  position: relative;
  width: 85%;
}

.leftLoc {
  position: absolute;
  top: 80px;
  left: 90px;
}

#ourService {
  text-align: center;
  padding-left: 0;
}




//@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
//
//* {
//  box-sizing: content-box;
//}
//
//body {
//  background: #1C8EF9 !important;
//  min-height: 100vh;
//  display: flex;
//  font-weight: 400;
//  font-family: 'Fira Sans', sans-serif;
//}
//
//h1, h2, h3, h4, h5, h6, label, span {
//  font-weight: 500;
//  font-family: 'Fira Sans', sans-serif;
//}
//
//body, html, .App, #root, .auth-wrapper {
//  width: 100%;
//  height: 100%;
//}
//
//.navbar-light {
//  background-color: #ffffff;
//  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
//}
//
//.navbar {
//  background-color: #ffffff;
//  box-shadow: 0px 14px 40px rgba(34, 35, 58, 0.2);
//}
//
//.auth-wrapper {
//  display: flex;
//  justify-content: center;
//  flex-direction: column;
//  text-align: left;
//}
//
//.auth-inner {
//  width: auto;
//  margin: auto;
//  background: #ffffff;
//  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
//  padding: 40px 55px 45px 55px;
//  border-radius: 15px;
//  transition: all .3s;
//}
//
//.auth-wrapper .form-control:focus {
//  border-color: #167bff;
//  box-shadow: none;
//}
//
//.auth-wrapper h3 {
//  text-align: center;
//  margin: 0;
//  line-height: 1;
//  padding-bottom: 20px;
//}
//
//.custom-control-label {
//  font-weight: 400;
//}
//
//.homepage {
//  display: block;
//  margin-left: auto;
//  margin-right: auto;
//  padding-top: 850px;
//  padding-left: 30px;
//
//}
//
//.profile {
//  display: block;
//  margin-left: auto;
//  margin-right: auto;
//  padding-top: 850px;
//  padding-left: 30px;
//
//}
//
//.forgot-password,
//.forgot-password a {
//  text-align: right;
//  font-size: 13px;
//  padding-top: 10px;
//  color: #7f7d7d;
//  margin: 0;
//}
//
//.forgot-password a {
//  color: #167bff;
//}
//
//#m1 {
//  text-align: center;
//}
//
//.centered {
//  position: absolute;
//  top: 100px;
//  left: 80px;
//
//}
//
//.mainTitle {
//  width: 100%;
//  height: 100%;
//}
//
//#uppertop {
//  width: 100%;
//  height: 100%;
//}
//
//#noacc {
//  display: inline-block;
//  margin-right: 20px;
//}
//
//#noaccLink {
//  display: inline-block;
//}








