
.homepage {
  padding-left: 25px;
  padding-right: 20px;
}

#picLoc {
  position: relative;
  width: 85%;
}

.leftLoc {
  position: absolute;
  top: 80px;
  left: 90px;
}

#ourService {
  text-align: center;
  padding-left: 0;
}
