$white: #ffffff;
$black: #000000;

$background-color-1: #cae8d5;
$color-green-0: #cae8d5;
$color-green-1: #84a9ac;
$color-green-2: #3b6978;
$color-green-2-opacity: rgba(59, 105, 120, 0.4);
$color-green-3: #204051;

$color-light-green-0: #f8fcf9;
$color-light-green-1: #e3f3e8;

$box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
$box-shadow-hover: 0 0 5px 0 rgba(0, 0, 0, 0.5);

$chat-bg-color: #e5ddd5;
$transparent-black-bg: rgb(204, 204, 204);
$thumb-bg: #595959;
