$white: #ffffff;
$black: #000000;

$background-color-1: #cae8d5;
$color-green-0: #cae8d5;
$color-green-1: #84a9ac;
$color-green-2: #3b6978;
$color-green-3: #204051;

$color-light-green-0: #f8fcf9;
$color-light-green-1: #e3f3e8;

$box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
$box-shadow-hover: 0 0 5px 0 rgba(0, 0, 0, 0.5);
