@import 'pages/profile';
@import 'pages/home';
@import 'pages/login';
@import 'pages/forum';
@import 'pages/aboutus';
@import 'pages/faq';
@import 'pages/meetings';
@import 'pages/reservations';
@import 'pages/articles';
@import 'pages/doctor';

@import 'components/cardContainer';
@import 'components/like.scss';
@import 'components/time.scss';
@import 'components/post.scss';
@import 'components/sendReply.scss';
@import 'components/postEditor.scss';
@import 'components/reply.scss';
@import 'components/navigator';
@import 'components/forumnavigation';
@import 'components/forummodal';
@import 'components/footer';

.font-18 {
    font-size: 18px;
}

.font-16 {
    font-size: 16px;
}

.font-14 {
    font-size: 14px;
}
