@import "src/utility/colors";

.patient-profile {
  color: $color-green-3;

  .profile-info {
    background-color: $background-color-1;
    padding: 10px 30px !important;
  }

  .profile-icon {
    font-size: 20px;
  }

  .name {
    font-size: 20px;
    font-weight: bold;
  }

  .username {
    font-size: 16px;
    font-weight: lighter;
    font-style: italic;
  }

  .status-icon {
    font-size: 30px;
    cursor: pointer;
  }

  .profile-details {
    box-shadow: $box-shadow;
  }
}
