.patient-profile {
  .profile-info {
    background-color: #cae8d5;
    padding: 10px 30px !important;
  }

  .profile-icon {
    font-size: 20px;
  }

  .name {
    font-size: 20px;
    font-weight: bold;
  }

  .username {
    font-size: 16px;
    font-weight: lighter;
    font-style: italic;
  }

  .status-icon {
    font-size: 30px;
    cursor: pointer;
  }

  .profile-details {
    /*background-color: #84a9ac;*/
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.30);
  }
}
