.profile-info {
    background-color: #cae8d5;
}

.profile-icon {
    font-size: 20px;
}

.name {
    font-size: 20px;
    font-weight: bold;
}

.username {
    font-size: 16px;
    font-weight: inherit;
}

.status-icon {
    font-size: 30px;
    cursor: pointer;
}

.profile-details {
    /*background-color: #84a9ac;*/
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.30);
}

